.container {
    @apply flex justify-center items-center py-6 px-4 gap-6;
    @apply md:p-8 md:py-[40px];
    @apply xl:p-16 xl:gap-14;
    background: linear-gradient(180deg, rgba(248, 250, 252, 0.00) 0%, rgba(248, 250, 252, 0.95) 33.36%, #F8FAFC 74.09%);
}   

.containerTop {
    @apply flex flex-col justify-between items-start gap-12 bg-primary-100 w-full rounded-3xl px-4 py-16 overflow-clip h-[650px];
    @apply md:h-[347px] md:pl-8 md:flex-row md:items-center;
    @apply lg:pl-[72px];

}

.leftTop {
    @apply flex flex-col justify-start items-start gap-4;
    @apply md:gap-6
}

.leftTop > h5 {
    @apply font-bold text-secondary-400 text-base;
    @apply lg:text-[26px];
}

.leftTop > h6 {
    @apply text-[26px] text-primary-500 font-bold;
    @apply lg:text-[42px];
}

.rightTop {
    @apply flex flex-col gap-3 -ml-[28rem];
    @apply md:-mr-[30rem];
    @apply lg:-mr-20;
}

.rightFollowers {
    @apply flex flex-row gap-3 justify-center items-center;
}

.rightFollowers1 {
    @apply flex flex-row gap-3 justify-center items-center pl-16;
}

.rightIcon {
    @apply h-32 w-32 cursor-pointer shrink-0 duration-500 ease-in-out hover:!stroke-[#FFF] hover:!fill-[#1CB3C2];
}

.bottomWrapper {
    @apply flex flex-col justify-center items-center gap-4;
}

.containerBottom {
    @apply relative bg-primary-300 h-[566px] rounded-3xl w-full;
    @apply md:pl-[20px] md:h-[566px];
    @apply lg:pl-[200px] lg:h-[689px];
}

.containerBottom > img {
    @apply h-[566px] w-[330px] object-cover object-center;
    @apply md:h-[566px] md:w-[382px];
    @apply lg:h-[689px] lg:w-[461px];
}

.bottomContent {
    @apply absolute top-1/2 gap-8 pt-10 left-1/2 -translate-x-1/2 pb-8 px-4 flex flex-col justify-center items-center bg-primary-500 rounded-b-3xl w-[330px];
    @apply md:w-[266px] md:top-0 md:right-4 md:left-auto md:-translate-x-0;
    @apply lg:w-[317px] lg:gap-14 lg:right-16 lg:py-24;
}

.bottomContent > h5 {
    @apply text-primary-100 font-bold text-[26px];
    @apply lg:text-[42px];
}

.bottomContents {
    @apply flex flex-col gap-2 justify-start items-start;
}

.bottomContents > h6 {
    @apply font-bold text-base text-primary-100;
    @apply lg:text-[26px];
}

.bottomContents > p {
    @apply font-normal text-base text-primary-100;
}

.bottom {
    @apply px-4 pb-8 border-b-2 border-primary-500 w-full mt-72;
    @apply md:w-[60%] md:mr-auto md:mt-0;
    @apply lg:w-2/3 lg:mr-auto;
}

.bottom > p {
    @apply text-primary-700 text-base font-normal;
}

.bottom > p > span {
    @apply text-primary-700 text-base font-bold;
}



@media screen and (min-width: 744px) {
    .rightTop {
        animation: autoScroll 50s ease-in-out 0s infinite alternate;
    }
    
    .rightTop:hover {
        animation-play-state: paused;
    }
}


@keyframes autoScroll {
    from {
        transform: translateY(38%);
    }
    to {
        transform: translateY(0%);
    }
}