.container {
    @apply relative -mt-[96px] px-4 pt-[195px] pb-4 bg-[url("/images/happy.png")] bg-no-repeat bg-center bg-cover object-center object-cover flex flex-col justify-center items-start;
    @apply md:pt-56 md:px-8 md:pb-20;
    @apply lg:py-14 lg:pt-[184px] lg:px-16 lg:h-[856px];
    
}

.container::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-image: url("/images/bgImage.png");
}

.container1 {
    @apply relative -mt-[96px] px-4 pt-56 pb-10 object-center object-cover flex flex-col justify-end items-start;
    @apply md:pt-56 md:px-8 md:pb-14;
    @apply lg:py-14 lg:px-16 lg:h-[856px] lg:pb-[101px];
}

.container1::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-image: url("/images/bgImage.png");
}

.content {
    @apply flex flex-col z-10 justify-start items-start gap-6 w-full;
    @apply md:w-4/5;
    @apply lg:w-[55%];
}

.content > h3 {
    @apply text-[42px] font-bold text-off-white-100 leading-[50.4px];
    @apply md:text-[68px] md:leading-[81.6px];
    @apply xl:text-[96px] xl:leading-[115.2px];
}

.content > h3 > span {
    @apply text-[42px] font-bold text-secondary-400;
    @apply md:text-[68px];
    @apply xl:text-[96px];
}

.content > p {
    @apply text-base font-normal text-off-white-100;
    @apply xl:text-[26px];
}

.buttonWrapper {
    @apply flex flex-col gap-6 justify-start items-center w-full;
    @apply md:flex-row
}

.button {
    @apply w-full;
    @apply md:w-fit;
}

.buttonIcon {
    @apply w-6 h-6 fill-off-white-100;
}

.buttonIcon2 {
    @apply w-6 h-6 fill-secondary-400;
}
